*
  padding 0px
  border 0px
  margin 0px

body
  font-family 'Roboto', sans-serif
  background-color #EEEEEE
  font-size 16px

.header
  background-color white
  display block
  padding 10px 20px
  color black
  box-shadow 0px 5px 20px rgba(0,0,0,0.16)

.wrapper
  display flex
  justify-content center
  align-items flex-start
  flex-wrap wrap
  .box
    display inline-block
    width 100%
    padding 20px 0px
    max-width 500px
    box-sizing border-box
    background-color white
    margin 20px 10px 0px 10px
    border-radius 7px
    box-shadow 0px 5px 20px rgba(0,0,0,0.16)
    h2
      padding 0px 20px
    .headP
      padding 0px 20px 5px 20px
    .holder
      background-color #02A9F4
      margin-top 10px
      box-sizing border-box
      .outputText
        font-weight bold
        color white
        font-size 20px
      input
        font-weight bold
        background-color #02A9F4
        font-size 20px
        width 100%
        color white
        box-sizing border-box
        padding 20px
      input::placeholder
        color rgba(255,255,255,0.7)
        opacity 1
      input::-ms-input-placeholder
        color rgba(255,255,255,0.7)
        opacity 1
    .holder.extraPadd
      padding 20px